.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counterNumber {
  color: #61dafb;
  font-size: 50px;
  border: 5px solid #62d9fb;
  width: 400px;
  height: 120px;
  position: relative;
  left: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.counterIsDone {
  color: red;
  font-size: 50px;
  border: 5px solid #62d9fb;
  width: 400px;
  position: relative;
  left: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 50px;
  font-weight: bold;
}

.button {
  background-color: #61d7fa;
  border-radius: 20px;
  margin: 10px;
  font-size: 50px;
  font-weight: bold;
}

.mainCounter {
  display: block;
  border: 5px solid #62d9fb;
  border-radius: 20px;
  width: 500px;
  height: 280px;
  margin: 0;
  position: absolute;
  left: 700px;
}

.buttonMain {
  display: block;
  border: 5px solid #60d5f9;
  border-radius: 20px;
  width: 400px;
  position: relative;
  left: 40px;
  bottom: 0px;
}

.mainInput {
  display: block;
  border: 5px solid #62d9fb;
  border-radius: 20px;
  width: 500px;
  height: 120px;
  margin: 0;
  position: absolute;
  /*position: absolute;*/
  left: 100px;
}

.inputValue {
  color: #61dafb;
  font-size: 30px;
  /*border: 5px solid #62d9fb;*/
  width: 400px;
  position: relative;
  left: 40px;
  /*border-radius: 20px;*/
  /*margin-bottom: 20px;*/
  /*margin-top: 20px;*/
  /*padding-bottom: 40px;*/
}

.input {
  border: 5px solid #62d9fb;
  border-radius: 10px;
  margin-left: 10px;
  position: relative;
  margin-top: 20px;
}


////////
.blocks {
  display: flex;
  /*align-items: stretch;*/
  border: 5px solid #62d9fb;
  /*width: 500px;*/
  /*margin-left: 300px;*/
  /*margin-top: 50px;*/
  /*position: relative;*/
  /*height: 280px;*/
  /*border-radius: 20px;*/
  justify-content:center;
  height:280px;
  align-items:flex-start;
}

.block {
  /*display: flex;*/
  /*align-items: stretch;*/
  border: 5px solid #62d9fb;
  /*width: 500px;*/
  /*margin-left: 300px;*/
  /*margin-top: 50px;*/
  /*position: relative;*/
  /*height: 280px;*/
  /*border-radius: 20px;*/
}

.name1 {
  text-align: center
}

